<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="details">
        <div class="detailsContainer">
            <a href="/movie/<%= details.id %>"><img src="https://image.tmdb.org/t/p/w500<%= details.poster_path %>" alt="Poster of <%= details.title %>" class="detailImage"></a>
            <section class="movieDetails">
                <h2><%= details.title %><span> (<%= details.vote_average %>)</span></h2>
                <span><%= details.release_date %> | <%= details.runtime %> min</span>
                <p>"<%= details.tagline %>"</p>

                <h3>Overview</h3>
                <p><%= details.overview %></p>
                <p><span>Genre </span><%= details.genres[0].name %></p>
                <section class="relatedMovies">
                    <h3>Related Movies</h3>
                    <ul>
                        <% related.forEach(movie=> { %>
                            <li>
                                <section class="poster">
                                    <% if (movie.poster_path) { %>
                                        <a href="/movie/<%= movie.id %>"><img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>"></a>
                                        <% } else { %>
                                            <img src="/images/logo.png" alt="No poster available">
                                            <% } %>
                                </section> 
                                    <% if (movie.title) { %>
                                        <a href="/movie/<%= movie.id %>"><%= movie.title %></a>
                                        <% } else { %>
                                            <a href="/404">No movie title available</a>
                                        <% } %>
                            </li>
                        <% }); %>
                    </ul>                                                                                                                                                                      
                </section>
            </section>
        </div>
        <section class="reviewContainer">
            <h2>Reviews</h2>
            <ul>
                <% if (reviews && reviews.length > 0) { %>
                    <% reviews.forEach(review=> { %>
                        <li>
                            <h3><%= review.author %></h3>
                                <p>Updated at: <%= review.updated_at %></p>
                                <p>"<%= review.content %>"</p>
                        </li>
                        <% }); %>
                            <% } else { %>
                                <p>Currently no reviews..</p>
                                <% } %>
            </ul>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/scripts/script.js"></script>
</body>
</html>