<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="details">
        <div class="detailsContainer">
            <img src="https://image.tmdb.org/t/p/w500<%= details.poster_path %>" alt="<%= details.title %>">
            <section class="movieDetails">
                <h2><%= details.title %></h2>
                <p><%= details.release_date %> | <%= details.runtime %></p>

                <h3>Overview</h3>
                <p><%= details.overview %></p>
            </section>
        </div>
        <section>

        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/scripts/script.js"></script>
</body>
</html>