<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="details">
        <div class="detailsContainer">
            <img src="https://image.tmdb.org/t/p/w500<%= details.poster_path %>" alt="<%= details.title %>">
            <section class="movieDetails">
                <h2><%= details.title %><span> (<%= details.vote_average %>)</span></h2>
                <span><%= details.release_date %> | <%= details.runtime %> min</span>
                <p>"<%= details.tagline %>"</p>

                <h3>Overview</h3>
                <p><%= details.overview %></p>
                <p><span>Genre </span><%= details.genres[0].name %></p>
                <section class="relatedMovies">
                    <h3>Related Movies</h3>                                                                                                                                                                      
                </section>
            </section>
        </div>
        <section class="reviewContainer">
            <h2>Reviews</h2>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/scripts/script.js"></script>
</body>
</html>