<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="home">
        <h1></h1>
        <section class="trending">
            <h2>What to watch next</h2>
                <ul>
                    <% movies.forEach(movie=> { %>
                        <li>
                            <section class="poster">
                                <% if (movie.poster_path) { %>
                                    <a href="/movie/<%= movie.id %>"><img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="Poster of <%= movie.title %>" class="moviePoster"></a>
                                    <% } else { %>
                                        <img src="/images/logo.png" alt="No poster available">
                                        <% } %>
                            </section> 
                                <% if (movie.title) { %>
                                    <a href="/movie/<%= movie.id %>"><%= movie.title %>
                                    <% } else { %>
                                        <a href="/404">No movie title available</a>
                                    <% } %>
                        </li>
                    <% }); %>
                </ul>
        </section>
        <section class="popular">
            <h2>Trending series</h2>
                <ul>
                    <% series.forEach(serie=> { %>
                        <li>
                            <section class="poster">
                                <% if (serie.poster_path) { %>
                                    <img src="https://image.tmdb.org/t/p/w500<%= serie.poster_path %>" alt="<%= serie.name %>">
                                    <% } else { %>
                                        <img src="/images/logo.png" alt="No poster available">
                                        <% } %>
                            </section> 
                            <% if (serie.name) { %>
                                <a href="/movie/<%= serie.id %>"><%= serie.name %></a>
                                    <% } else { %>
                                        <a href="/404">No serie title available</a>
                                    <% } %>
                        </li>
                    <% }); %>
                </ul>
        </section>
        <section class="regional">
            <h2>Regional</h2>
                <ul>
                    <% regional.forEach(region=> { %>
                        <li>
                            <section class="poster">
                                <% if (region.poster_path) { %>
                                    <img src="https://image.tmdb.org/t/p/w500<%= region.poster_path %>" alt="<%= region.name %>">
                                    <% } else { %>
                                        <img src="/images/logo.png" alt="No poster available">
                                        <% } %>
                            </section> 
                            <% if (region.title) { %>
                                <a href="/movie/<%= region.id %>"><%= region.title %></a>
                                    <% } else { %>
                                        <a href="/404">No movie title available</a>
                                    <% } %>
                        </li>
                    <% }); %>
                </ul>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/scripts/script.js"></script>
</body>
</html>