<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="search">
        <h1></h1>
        <section>
            <h2>Search results for: <%= query %></h2>
            <ul>
                <% results.forEach(result=> { %>
                    <li>
                        <section class="poster">
                            <% if (result.poster_path) { %>
                                <a href="/movie/<%= result.id %>"><img src="https://image.tmdb.org/t/p/w500<%= result.poster_path %>" alt="<%= result.title %>"></a>
                                <% } else { %>
                                    <img src="/images/logo.png" alt="No poster available">
                                    <% } %>
                        </section> 
                    </li>
                <% }); %>
            </ul>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
    <script src="/scripts/script.js"></script>
</body>
</html>